<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Chat</title>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="bg-gradient-roxo">
    <div class="container bg-preto-claro">
        <div class="row" id="conteudo">
            <div class="col-md-2 list-user p-0">
                <div class="font-1-2 bg-preto-claro-v2 p-2">
                    <p class="m-0 text-center font-1-3 color-roxo-claro-v2">Usuários</p>
                </div>
                
                <ul>
                    <li>Wesley</li>
                    <li>João</li>
                </ul>

                <div class="col-md-12 div-bottom">
                    <a href="/chat/logout" class="btn btn-danger btn-lg btn-block">Sair</a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-2 mt-2 other-message">
                            <p class="m-0 font-weight-bold"><span>Wesley</span> diz:</p>
                            <p class="m-0">
                                Olá, tudo bem?
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 div-bottom">
                        <textarea class="text-area-v1"></textarea>
                        <button class="btn btn-success float-right">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/chat/chat.js"></script>
</body>
</html>
