:root {
    --white: white;
    --white-light: #ecf0f1;
    --purple-light: #9b59b6;
    --purple-light-v2: #9c88ff;
    --purple-light-v3: #8c7ae6;
    --black-light: #353b48;
    --black-light-v2: #2f3640;
    --green-light: #2ecc71;
    --grey-light: #bdc3c7;
    --red-light: #e74c3c;
    --gold-light: #fbc531;
    --gold-light-v2: #e1b12c;
    --blue-dark: #0c2461;
}

a {color: var(--gold-light-v2)}
a:hover {color: var(--gold-light)}

.bg-black-light {background: var(--black-light)}
.bg-black-light-v2 {background: var(--black-light-v2)}
.bg-purple-light {background: var(--purple-light)}
.bg-purple-light-v2 {background: var(--purple-light-v2)}
.bg-purple-light-v3 {background: var(--purple-light-v3)}
.bg-gradient-purple {background-image: linear-gradient(to right bottom, #a29bfe, #948bf9, #877cf3, #7a6ced, #6c5ce7)}

.box-shadow {
    -webkit-box-shadow: -1px 0px 13px -2px rgba(0,0,0,0.43);
    -moz-box-shadow: -1px 0px 13px -2px rgba(0,0,0,0.43);
    box-shadow: -1px 0px 13px -2px rgba(0,0,0,0.43);
}

.color-purple-light-v3 {color: var(--purple-light-v3)}
.color-purple-light {color: var(--purple-light)}
.color-white-light {color: var(--white-light)}
.color-green-light {color: var(--green-light)}
.color-grey-light {color: var(--grey-light)}
.color-red-light {color: var(--red-light)}

.font-1-3{font-size: 1.3rem}
.font-weight-400 {font-weight: 400}

.input-v1 {
    background: var(--purple-light-v3);
    border: none;
    border-radius: 0;
}

.text-area-v1 {
    border: 4px solid var(--purple-light-v3);
    height: 100px;
    width: 100%;
}

.div-bottom{
    position: absolute; 
    bottom: 10px
}

.other-message{
    background: var(--blue-dark);
    color: var(--white-light);
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: var(--purple-light-v3);
}
::-webkit-scrollbar-thumb {
    background: var(--purple-light-v3);
}